.navbar-custom {
    background-color: #C08B89;
}

.footer-custom {
    background-color: #7D5E5D;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: auto;
}

body {
    background-color: #EFE8E7;
    font-family: 'Times New Roman', Times, serif;
}

h1 {
    font-weight: bold;
}
